@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


#basic-nav-dropdown {
  color: #FFFFFF;
}

.background-img-services {
  min-height: 38rem;
  position: relative;
}

.background-img-services::before {
  content: '';
  background-image: url("https: //azoozexpress.com/wp-content/uploads/2023/11/movers-putting-boxes-boving-cart-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.35;
}


.header {
  background-image: url(https://azoozexpress.com/wp-content/uploads/2023/07/azooz-home-page-banner-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  animation: animateBg 1s ease 1s forwards;
}

#form-btn {
  border-radius: .7rem .7rem .7rem 3rem !important;
  width: 100%;
}

@keyframes animateBg {

  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.td {
  text-decoration: none;
}

/* ------------font family---------*/
.ff-p {
  font-family: "Poppins", Sans-serif;
}

.ff-r {
  font-family: "Roboto", Sans-serif;
}

.ff-m {
  font-family: "Montserrat", Sans-serif;
}

.ff-g {
  font-family: "Gemsbuck 01 ITALIC",
    Sans-serif;
}

/* ------------font family---------*/



.container {
  max-width: 1200px !important;
}


/* ------border-radius---------- */
.br-s {
  border-radius: .6rem 0 0 1.8rem;
}

.br {
  border-radius: 0 0 0 1.5rem;
  margin: 0;
  justify-content: center;
}

/* #cps-{
  bottom: 37px !important;
  right: 100px !important;
} */

.cp-1 {
  padding: .6rem;
}

.carousel-indicators {
  left: 5px;
  top: auto;
  right: 0;
  bottom: -31px;
}


/* ------carousel------ */
.carousel-indicators li {
  background: whitesmoke;
  border-radius: 100%;
  width: 15px;
  height: 15px;

}

.carousel-indicators .active {
  background: black;
}

@media (max-width:500px) {
  .testimonials {
    border-radius: 0 !important;
  }
}




.elementor-screen-only {

  clip: rect(0, 0, 0, 0);
  border-width: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

}

.f-st {
  display: flex !important;
  justify-content: flex-start !important;
  list-style-type: none;
}

.flexAling {
  display: flex !important;
  align-items: center !important;
}


.dropdown .dropdown-menu {
  color: #ffffff;
  background-color: #fdc80a;
  border-radius: 0;
}

.navbar-toggler-icon {
  color: #ffffff !important;
  background-color: #fdc80a !important;
}

.social-icon-text {
  font-family: "Poppins", Sans-serif;
  font-size: 1.54rem;
  font-weight: 300;
  color: #ffffff;
}

.whats_app_text {
  position: absolute !important;
  bottom: 29px !important;
  right: 0px !important;
  left: -7.3rem !important;
  width: max-content;
  padding: 0px 16px;
  line-height: 1.6;
  font-size: 15px;
  background-color: #25d366;
  color: #ffffff;
  border-radius: 10px;
  margin: 0 10px;
  order: 0;
}

a .text-decoration {
  text-decoration: none !important;
}

.btn:hover {
  background-color: #030006 !important;
  color: #920505 !important;
}

.imgDivH img {
  height: 3.12rem;
}

.locition-section .col-3 img {
  height: 1.5rem;
}

.btn {
  font-family: "Montserrat", Sans-serif !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  border-radius: 5px 20px 20px 20px !important;
  background-color: #D91F28 !important;
  border: 0 !important;
  padding: .8rem 1.2rem !important;
}


.an-fade-in-right {
  opacity: 0;
  transform: translateX(3rem);
  animation: fadeInLeft 1s ease 2s forwards;
}

.an-fade-right {
  opacity: 0;
  transform: translateX(-5rem);
  animation: fadeRight 1s ease 2s forwards;
}

.an-fade-out {
  opacity: 0;
  transform: scale(0);
  animation: fadeout 1s ease 2s forwards;
}

.an-fade-in-left {
  opacity: 0;
  transform: translateX(5rem);
  animation: fadeInLeft 2s ease 2s forwards;
}

.an-fade-up {
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 1s ease 2s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeout {
  to {
    opacity: 1;
    transform: scale(1);
  }
}