.dropdown .dropdown-menu {
    color: #ffffff;
    background-color: #fdc80a;
}

.navbar-toggler-icon {
    color: #ffffff !important;
    background-color: #fdc80a !important;
}

.social-icon-text {
    font-family: "Poppins", Sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
}


.navbar-nav .nav-link:hover {
    border-bottom: 5px solid #ecd014 !important;
}

.navbar-nav .nav-link .active {
    border-bottom: 5px solid #ecd014 !important;
}